<div class="flex flex-wrap justify-around items-center m-4">
    <p class="text-neutral-100 text-xs uppercase opacity-70 w-96 text-center">©2023. Animux</p>
    <p class="text-neutral-100 text-xs uppercase opacity-70 w-96 text-center">This site does not store any files on our server, we only
        linked to the media which is hosted on 3rd party services.</p>
</div>