<div class="flex justify-around items-center m-4">
    <a href="/"><img src="../assets/favicon.ico" alt="Animet" class="w-10" data-aos="fade-right"></a>
    <ul class="flex gap-4" data-aos="fade-left">
        <li><a href="/" class="text-neutral-100 text-sm uppercase hover:opacity-70">Home</a></li>
        <li><a href="/airing" class="text-neutral-100 text-sm uppercase hover:opacity-70">Airing</a></li>
        <li><a href="/popular" class="text-neutral-100 text-sm uppercase hover:opacity-70">Popular</a></li>
    </ul>
</div>