<div class="flex justify-around items-center m-4">
    <div>
        <a href="/"><img src="../assets/favicon.ico" alt="Animux" class="w-10"></a>
    </div>
    <ul class="flex gap-4">
        <li><a href="/" class="text-neutral-100 text-sm uppercase hover:opacity-70">Home</a></li>
        <li><a href="/airing" class="text-neutral-100 text-sm uppercase hover:opacity-70">Airing</a></li>
        <li><a href="/about" class="text-neutral-100 text-sm uppercase hover:opacity-70">About</a></li>
    </ul>
</div>